select{
    appearance: none;
    -webkit-appearance: none;   
    -moz-appearance: none;
    border-radius: 5px;
    border: none;;
    background-color: #A0BFE0;
    margin-bottom: 2%;    
    color: #005792;
    padding: 5px;
}


select:focus{
    outline: none;
}
select:hover{
    background-color: #C5DFF8;
    cursor: pointer;
}
select::-ms-expand{
    display: none;
}


input{
    
    border: solid 2px #005792;
    background-color: #A0BFE0 ;   
    color: #005792;
}

input:focus{
    background-color: #C5DFF8;
   
}
input::placeholder{
    color: red;
}

textarea{
    border: solid 2px #005792;
    background-color: #A0BFE0 ;   
    color: #00204a;
    font-family: Arial, Helvetica, sans-serif;
}
textarea:focus{
    background-color: #C5DFF8;
    outline: none;
}

button{
    border: none;
    color: white;
    padding: 5px;
    background-color: #A0BFE0;
    margin-bottom: 2%;
    border-radius: 5px;
    color: #005792;
}

button:hover{background-color: #C5DFF8;cursor: pointer;transition: 0.3s;}

h1{
    color: black;
    text-align: center;
}

h2{
    color: black;
    text-align: center;
}
p{
    color:#ff7e82;
    font-size: 10px;
}

::-webkit-scrollbar{
    width: 5px;
   
}

::-webkit-scrollbar-track{
    background-color:#C5DFF8;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #005792;
}
::-webkit-scrollbar-thumb:hover{
    width: 10px;
}
::-webkit-scrollbar-track:hover{
    background-color: #A0BFE0;
   
}

.erroInput{
    background-color: #ff7e82;
    max-width: 169px;
}



