select{
    appearance: none;
    -webkit-appearance: none;   
    -moz-appearance: none;
    border-radius: 5px;
    border: none;;
    background-color: #A0BFE0;
    margin-bottom: 2%;    
    color: #005792;
    padding: 5px;
}


select:focus{
    outline: none;
}
select:hover{
    background-color: #C5DFF8;
    cursor: pointer;
}
select::-ms-expand{
    display: none;
}


input{
    
    border: solid 2px #005792;
    background-color: #A0BFE0 ;   
    color: #005792;
}

input:focus{
    background-color: #C5DFF8;
   
}
input::placeholder{
    color: red;
}

textarea{
    border: solid 2px #005792;
    background-color: #A0BFE0 ;   
    color: #00204a;
    font-family: Arial, Helvetica, sans-serif;
}
textarea:focus{
    background-color: #C5DFF8;
    outline: none;
}

button{
    border: none;
    color: white;
    padding: 5px;
    background-color: #A0BFE0;
    margin-bottom: 2%;
    border-radius: 5px;
    color: #005792;
}

button:hover{background-color: #C5DFF8;cursor: pointer;transition: 0.3s;}

h1{
    color: black;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
}



