body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #e0fbfc;
}

.tabela{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: fit-content;
    background-color: #00204a;
}
.buttons form{
    display: flex;
    align-items: center;
   gap: 25px;
}


.date
{
    width: 160px;
}

.tipo
{
    width: 160px;
}
.n-ped
{
    
    width: 30px;
}
.popup
{
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    height: 600px;
    background-color: #00204a;
    border: 5px solid #A0BFE0;
    padding: 10px;
    margin: auto;
    top: 0;
    left : 50%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border-radius: 5px;
}

.open-popup
{
    visibility: visible;
    top : 50%;
    transform: translate(-50%,-50%) scale(1);
    

}















