body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: lightcyan;
}

.tabela{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    
    padding: 5px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: fit-content;
    background-color: #00204a;
}
.submit{

    border: none;
    color: white;
    padding: 15px 32px;
    background-color: #00204a;
    margin-bottom: 4px;
}
.submit:hover{background-color: #005792;cursor: pointer;
    transition: 0.3s;}

.date
{
    width: 160px;
}

.tipo
{
    width: 160px;
}
.n-ped
{
    
    width: 30px;
}


button {

    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 5px;
}


.popup
{
    
    
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    height: 600px;
    background-color: lightcyan;
    border: 5px solid #005792;
    padding: 10px;
    margin: auto;
    top: 0;
    left : 50%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}




.closePopup div {
    margin-right: 80%;
}

.open-popup
{
    visibility: visible;
    top : 50%;
    transform: translate(-50%,-50%) scale(1);
    border-radius: 5px;

}















