body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #e0fbfc;

}

h1 {
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
    color: #00204a;
}  

img {
    border-radius: 9px;
}

