body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0fbfc;
}


fieldset
{
    width: 80%;
    margin-top: 5%;
    color: white;
    background-color: #00204a;
    border: 5px solid #A0BFE0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;

}
fieldset form{
    
    width: 60%;
}
fieldset div{
    width: 70%;
}
fieldset input{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
#btn{
   
}
#btn button{
    margin-left: 9%;
    width: 30%;
    height: 50px;
    
}
#img{
    margin-top: 2%;
}
