body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
}

main {
    text-align: center;
}
.topnav {
    background-color: #00204a;
    overflow: hidden;
    border-radius: 5px;
}

.button1 {
    border: none;
    color: white;
    padding: 15px 32px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: -49.5%;
    cursor: pointer;
    border-radius: 5px;
}

.button1 {background-color: #005792;}
button:hover {background-color: #00204a;}

div {
    text-align: center;
}

.submit {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2%;
    cursor: pointer;
    border-radius: 5px;
}

.submit {background-color: #005792;}
button:hover {background-color: #00204a;}

fieldset
{
    background-color: white;
    box-shadow: 4px 4px 8px 8px  #005792;
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 5px;
    border: 5px solid #00204a ;
    display: flex;
    flex-direction: column;
}
fieldset input{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
fieldset img{
    width: 100%;
}
