.erro{
    border-radius: 50px;
    background-color:  red;
    width: 25%;
    position: fixed;
    left: 38%;
    top :30px;
    color: black;
    animation: fadeOut 1.5s 2s forwards;
}
.sucesso{
    border-radius: 50px;
    background-color:  #C5DFF8;
    width: 25%;
    position: fixed;
    left: 38%;
    top :30px;
    text-align: center;
    color: black;
    animation: fadeOut 1.5s 2s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}