.erro{
    border-radius: 30px;
    background-color:  #ff7e82;
    text-align: center;
    width: 25%;
    height: 4%;
    position: fixed;
    left: 38%;
    top:100px;
    color: black;
    animation: fadeOut 1.5s 2s forwards;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.sucesso{
    border-radius: 30px;
    background-color:  #C5DFF8;
    width: 25%;
    height: 4%;
    position: fixed;
    left: 38%;
    top :30px;
    text-align: center;
    padding-top: 10px;
    color: black;
    animation: fadeOut 1.5s 2s forwards;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@media (max-width: 1200px) {

    .sucesso{
        width:50%;
    }
}