body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #e0fbfc;
}


.tabela{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-tabela{
    width: 100%;
}

.buttons{
    
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: fit-content;
    background-color: #00204a;
}
.buttons form{
    display: flex;
    align-items: center;
    gap: 25px;
}

@media (max-width: 1200px) {
    .tabela{
        width: 100%;
    }
    .buttons{
        width: fit-content;
    }
    .conteudo-tabela{
        width: 100%;
        overflow: auto;
        margin-bottom: 5%;
    }
}



















