body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0fbfc;
    text-align: center;
}

.tabela{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons{
    
    padding: 5px;
    display: flex;
    gap: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: fit-content;
    background-color: #00204a;
}
.buttons form{
    display: flex;
    gap: 25px;
}

.popup
{
    overflow-y: auto;
    color: white;
    position: absolute;
    width: 300px;
    height: auto;
    max-height: 300px;
    background-color: #00204a;
    border: 5px solid #A0BFE0;
    padding: 10px;
    top: 0;
    left : 50%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border-radius: 5px;
}
.popup form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#sigla{
    width: 25%;
}

.open-popup
{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#ano{
    width: 25%;
}



@media (max-width: 1200px) {
    .tabela{
        width: 100%;
    }
    .buttons{
        width: fit-content;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .buttons button{
        font-size: 10px;
    }
    .conteudo-tabela{
        width: 100%;
        overflow: auto;
        margin-bottom: 5%;
    }
  
}




