table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2%;
}

table th{
    text-transform: uppercase;
    text-align: center; 
    font-size: 16px;
    width: 5%;
    background-color: #00204a;
    color: white;
}
table th:first-child
{
    border-radius: 10px 0px 0px 0px;
}
table th:last-child
{
    border-radius: 0px 10px 0px 0px;
}


table tr td
{
    width: auto;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    max-height: 50px;
    border-right: solid 2px #00204a ;
}

table tr td button
{
    background-color: inherit;
}
table tr td button:hover
{
    color: white;
    background-color: #00204a;
}
table tr td:hover
{
    white-space: normal;

}
table tr:nth-child(even) 
{
    border-radius: 10px;
    font-size: 30px;
    height: 50px;
    color: black;
    background-color:#C5DFF8;
}
table tr:nth-child(odd) 
{
    font-size: 30px;
    height: 50px;
    color: black;
    background-color:#A0BFE0;   
}
table tr:last-child td:first-child
{
    border-radius: 0px 0px 0px 10px;
}
table tr:last-child td:last-child
{
    border-radius: 0px 0px 10px 0px;
}
table td:last-child{
    border: none;
}

table tr td a{
    color: #005792;
    font-size: 16px;
}

table tr td a:hover{
    
    color: #ff7e82;
    transition: 0.3s;
}

.hide
{
    display: none;
}


#det-header{
    width: 20%;
}

#nPed-header{
    width: 1%;
}
#data-header{
    width: 3%;
}
#val-header{
    width: 3%;
}

#ben-header{
    width: 13%;
}

#pcdp-header{
    width: 4%;
}

#prest-header{
    width: 10%;
}

#editar-header{
    width: 3%;
}
#excluir-header{
    width: 3%;
}

@media (max-width: 1200px) {
    table{
        border-collapse: collapse;
        
    }
    table th{
        font-size: 12px;
    }
    table tr td{
        font-size: 10px;
    }
}


